#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container-track, #container-css {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#container-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 50;
  margin: 0;
  overflow: hidden;
}

#container-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#container-scroll::-webkit-scrollbar {
  display: none;
}

#container-css {
  pointer-events: none; /*so clicks go to main track scene and not the css2d scene*/
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: fixed;
}
