#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container-track, #container-css {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .navbar-gantry {
  position: absolute;
  top: 30%;
  width: 80%
} */

#container-css {
  pointer-events: none; /*so clicks go to main track scene and not the css2d scene*/
}

